:root {
  --h1: #088178;
  --background: rgb(246, 247, 216);
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
@media (max-width: 799px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(246, 247, 216);
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10;
    transition: 0.3s;
    z-index: 999;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar.active #close {
    display: initial;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #222;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 0px;
    right: 75px;
    font-size: 24px;
    color: #222;
    margin-bottom: 5px;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    /* background-image: url("background.png"); */
    height: 70vh;
    /* width: 100%; */
    /* background-size: cover; */
    padding: 0 80px;
    background-position: top 30% right 30%;
    /* display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; */
  }
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    max-width: 15px 15px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 5px;
  }
}
@media (max-width: 477px) {
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }
  .section-p1 {
    padding: 20px;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #feature {
    justify-content: space-between;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  footer .copyright {
    text-align: start;
  }
  #hero h1 {
    font-size: 32px;
    line-height: 40px;
  }
  /* single Product */

  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-img {
    width: 100%;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }
}
